*
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#ref-form
{
    display: flex;
    justify-content: center;
    
}
#heading
{
    background-color: aqua;
    font-size: 40px;
    text-align: center;
    border:10px solid red;
}
table
    {
        background-color: aqua;
        font-size: 40px;
        border:10px solid red;
    }
